.button {
    font: inherit;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover,
  .button:active {
    background: #007bff;
    border-color: #007bff;
  }
  
  .button:focus {
    outline: none;
  }