
.box
{
   display: flex;
   justify-content: center;
}

#search-btn:hover { 
   cursor: pointer;
   background-color: #FFA07A;
}

#search-btn:active {   
   background-color: #E9967A;
   transform: scale(0.98);
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
   .box{
      width:100%;
     
   }
}
