.table-border {
    border-right: 0.5px solid white;
}
table{
    background-color: #6cabee;
    text-align: center;
}
.historyscroll{ 
    background-color: #6cabee;
    width: 500px;
  	height: 250px;
    overflow-x:scroll;  
    overflow-y:hidden;
}