.hourlyscrollbar {
	background-color: #6cabee;
	width: 500px;
  	height: 200px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.border {
    border-left: 1px solid #444242;
}
table{
    text-align: center;
}