.hourlyscrollbar {
	background-color: #6cabee;
	width: 500px;
  	height: 250px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.border {
    border-right: 0.5px solid white;
}
table{
    text-align: center;
}