.table-border {
    border-right: 0.5px solid white;
    border-left: 0.5px solid white;

}
table {
    text-align: center;
    background-color: #6cabee;
}
.weekscrollbar {
    background-color: #6cabee;
	width: 500px;
  	height: 250px;
	overflow-x: scroll;
	overflow-y: hidden;
}